﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Расчет площади многоугольника</h2>

    <form action="@Url.Action("CalculateArea", "Home")" method="post">
                <p>Введите длину стороны a:</p>
        <input type="number" step="any" name="sideLength" />
        <p>Введите количество сторон n:</p>
        <input type="number" name="numberOfSides" />
        <input type="submit" value="Рассчитать" />
    </form>
    Площадь многоугольника: 
    @if (ViewBag.Area != null)
    {
        @ViewBag.Area
    }
</div>
<p>Схема и формула:</p>
    <img src="\Images\Screenshot_5456.png" />

